* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(29, 29, 29);
  font-family: "Montserrat", sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(117, 8, 30);
  padding-bottom: 2%;
}
h1 {
  margin-left: 4%;
  margin-top: 1.5%;
  color: #ffd;
}

#btn-header {
  font-family: "Montserrat", sans-serif;
  margin-right: 4%;
  margin-top: 1.5%;
  padding: 10px 20px;
  background-color: rgb(6, 68, 19);
  border-radius: 7px;
  color: #ffd;
  cursor: pointer;
}
#btn-header:hover {
  background-color: rgba(6, 68, 19, 0.863);
}

section {
  background-color: rgb(6, 68, 19);
  width: 40vw;
  margin: auto;
  border-radius: 10px;
  margin-top: 2%;
  padding: 2em 2em;
  color: #ffd;
}

h2 {
  text-align: center;
}

form {
  background-color: rgb(221, 141, 155);
  width: 40vw;
  margin: 2% auto 0 auto;
  border-radius: 10px 10px 0 0;
  padding: 25px;
}
input,
label {
  margin: 3%;
}
input {
  width: 80%;
  height: 1.5em;
}

span {
  display: flex;
  justify-content: center;
}

#btn-cancel {
  border-radius: 0 0 0 10px;
  padding: 0.7em 0;
  background-color: rgb(141, 3, 3);
  color: #ffd;
  width: 20vw;
  cursor: pointer;
}
#btn-cancel:hover {
  background-color: rgb(141, 3, 3, 0.66);
}
#btn-ok {
  border-radius: 0 0 10px 0;
  padding: 0.7em 0;
  background-color: rgb(19, 6, 134);
  color: #ffd;
  width: 20vw;
  cursor: pointer;
}
#btn-ok:hover {
  background-color: rgb(19, 6, 134, 0.66);
}
.visible {
  display: none;
}
.back {
  opacity: 0.15;
}
.opaque {
  opacity: 1;
}
ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
li {
  margin: 3% auto;
  border: 3px solid rgb(6, 68, 19);
  border-radius: 8px;
  padding: 2% 5%;
  width: 65vw;
  display: flex;
  justify-content: flex-start;
}
li:hover {
  background-color: rgba(60, 216, 60, 0.089);
}
li img {
  width: 250px;
  max-height: 250px;
}
.city-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #ffd;
  margin-left: 10%;
}

.city-info h4 {
  margin-top: 5%;
  padding: 18px 12px;
  border-radius: 5px;
  background-color: rgb(15, 41, 114);
  letter-spacing: 2px;
}
h4:hover {
  background-color: rgb(15, 41, 114, 0.9);
}
.description-container {
  margin-left: 10%;
  display: flex;
  flex-direction: column;
}
.description {
  color: #ffd;
}
h5 {
  position: relative;
  padding: 10px 10px;
  border-radius: 5px;
  background-color: rgb(117, 8, 30);
  color: #ffd;
  cursor: pointer;
  margin-top: 8%;
  min-width: 120px;
}
h5:hover {
  background-color: rgba(117, 8, 30, 0.77);
  border: 1px solid rgb(117, 8, 30);
  padding: 9px 9px;
}
p {
  color: #ffd;
  margin-top: 5%;
  background-color: rgb(15, 41, 114);
  padding: 4%;
  border-radius: 5px;
}
p:hover {
  background-color: rgb(15, 41, 114, 0.9);
}

@media only screen and (max-width: 1000px) {
  li {
    width: 80vw;
    align-items: center;
    padding: 4% 9%;
    flex-direction: column;
  }
  li img {
    width: 180px;
  }
  .city-info {
    align-items: center;
    margin-left: 0;
  }

  #btn-cancel {
    width: 45vw;
  }
  #btn-ok {
    width: 45vw;
  }
  form {
    width: 90vw;
  }
  h1 {
    font-size: 1.6em;
  }
  #btn-header {
    margin-left: 16%;
  }
  #database {
    width: 80vw;
    margin-top: 10%;
  }
  .description-container {
    align-items: center;
    margin-left: 0;
    margin-top: 5%;
  }
}
